* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-header: #131921;
    --mb-header: #3b4149;
    --input-header: #febd69;
}

body {
    font-family: "Rubik", sans-serif;
}
  

a {
    display: inline-block;
    text-decoration: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

/* Header Style */
.header-top-strip {
    background-color: var(--bg-header);
    border-bottom: 2px solid var(--mb-header);
}

.header-upper {
    background-color: var(--bg-header);
}

.header-upper .input-group-text {
    background-color: var(--input-header);
}

/* End Header Style */